body {
  text-align: center;
  background-color: #f7fcfe;
}

.main{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap ;
  padding: 1px; 
}
.movies{
  background-color: rgb(95, 100, 100);
  color:black;
  border: 2px solid rgb(35, 35, 35);
  font-weight: 600;
  text-align: center;
  width: 17%;
  margin-top: 40px;
}
.movies img{
  width: 200px;
  height: 250px;
  margin-top: 20px; 
}

